---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article class='post-preview'>
  <header>
    <a href={post.url}><h1 class='title'>{post.frontmatter.title}</h1></a>
    <p class='publish-date'>{post.frontmatter.publishDate}</p>
  </header>
  <p>{'> '} {post.frontmatter.description}</p>
</article>

<style lang='scss'>
  .post-preview {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  .title,
  .publish-date {
    margin: 0;
  }

  .publish-date {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: var(--theme-text-lighter);
  }

  .title {
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--theme-title-color);

    &:hover {
      color: inherit;
    }
  }
</style>
