<header class='wrapper'>
  <article>
    <h1>
      <a href='/'>
        <span>
          <pre>/dev/nur</pre>
        </span>
      </a>
    </h1>
    <p>
      inspirations by{' '}
      <a href='/about'>Nurseiit A.</a>
    </p>
  </article>
</header>

<style lang='scss'>
  header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  h1 {
    margin: 0;
    padding-left: 0;
    max-width: 100%;
    display: flex;
    flex-grow: 1;
  }

  h1 pre {
    padding: 0;
  }

  h1 a {
    color: var(--theme-text);
    text-decoration: none;
    display: inline-flex;

    &:hover {
      color: var(--theme-accent);
      text-decoration: underline;
    }
  }

  p {
    font-size: large;
  }
</style>
